{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'blog/img/logo.svg' %}"/>
    <title>{% block title %}{% endblock %}- GiftFactory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}"

     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4SV5MYXY1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T4SV5MYXY1');
    </script>

</head>



<body>



<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="{% url 'home' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <span class="fs-5 fw-bold">GiftFactory</span>
    </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'category' 'for-her' %}" class="nav-link px-50 link-dark fw-bold">For Her</a></li>
      <li><a href="{% url 'category' 'for-kids' %}" class="nav-link px-50 link-dark fw-bold">For Kids</a></li>
      <li><a href="{% url 'category' 'for-him' %}" class="nav-link px-50 link-dark fw-bold">For Him</a></li>
      <li><a href="{% url 'category' 'popular' %}" class="nav-link px-50 link-dark fw-bold">Popular</a></li>
    </ul>

    <div class="col-md-3 text-end">
    </div>
  </header>
</div>



{% block content %} {% endblock %}

<div class="container">
    <hr>
</div>

<footer class="container">

      <p class="text-center">© GiftFactory 2021</p>
    </footer>

</body>

</html>



