{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'blog/img/logo.svg' %}"/>
    <title>{% block title %}{% endblock %}- GiftFactory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}"

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4SV5MYXY1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T4SV5MYXY1');
    </script>

</head>



<body>



<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="bi me-2" width="200" height="40" src="{% static 'blog/img/LogoNavbar.svg'%}">
      </a>

      <ul class="nav nav-pills">
        <li><a href="{% url 'category' 'for-her' %}" class="nav-link px-50 link-dark fw-bold">For Her</a></li>
      <li><a href="{% url 'category' 'for-kids' %}" class="nav-link px-50 link-dark fw-bold">For Kids</a></li>
      <li><a href="{% url 'category' 'for-him' %}" class="nav-link px-50 link-dark fw-bold">For Him</a></li>
      <li><a href="{% url 'category' 'popular' %}" class="nav-link px-50 link-dark fw-bold">Popular</a></li>
      </ul>
    </header>
</div>



{% block content %} {% endblock %}

<div class="container">
    <hr>
</div>

<footer class="container">

      <p class="text-center">© GiftFactory 2021</p>
    </footer>

</body>

</html>



