{% extends 'blog/base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}

{% load static %}

<div class="container" >
    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

            {% for category in object.category.all %}
            <h5 class="text-center"><a href={% url 'category' category.slug %}>{{ category.title }}</a></h5>
            {% endfor %}



        <h1 class="text-center display-5 fw-bold">{{ object.title }}</h1>
            <div class="row">
                <div class="col-6">
                    <p>Last updated on {{ object.date }}</p>
                </div>
                <div class="col-6">
                    <p class="text-end">By <a href={% url 'author' %}>Marie Smith</a></p>
                </div>
            </div>

        <div class="alert alert-info" role="alert">
         When you buy through links on our site, we may earn an affiliate commission. <a href="{% url 'about' %}" class="alert-link">Learn more</a>.
        </div>

        <div class="mb-3">
        <img src=" {{ object.image.url }} " class="img-fluid" alt="{{ object.image.url }}">
        </div>

        <div class="container-lg px-4 pb-4">
            <h5>{{ object.description }}</h5>
        </div>

        {% for button in object.button_set.all %}

        <div class="card mb-3">
            <div class="row g-0">
                <h5 class="card-header">{{ button.title }}</h5>
                <div class="col-md-4">
                    <img src=" {{ button.image.url }} " class="img-fluid rounded-start" alt=" {{ button.image.url }} ">
                </div>
                <div class="col-md-8">

                    <div class="card-body">

                        <p class="card-text">{{ button.description }}</p>
                        <a href="{{ button.url }}" target="_blank" class="btn btn-primary stretched-link">Buy on Amazon</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-2"> </div>
        </div>

            {% endfor %}


        </div>
    </div>

{% endblock %}