{% extends 'blog/base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}

<div class="container" >
    <div class="row">
        <div class="col-xl-2"></div>

<!--          узнать как
    <p>{{ object.category.title }}</p>-->

        <div class="col-xl-8">
        <h1 class="text-center display-5 fw-bold">{{ object.title }}</h1>
        <img src=" {{ object.image.url }} " class="img-fluid" alt="...">


        <h5 >{{ object.description }}</h5>

        {% for button in object.button_set.all %}
        {% load static %}
            <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
                <img src=" {{ button.image.url }} " class="img-fluid rounded-start" alt=" {{ button.image.url }} ">

        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
        <div class="card mb-3">
            <div class="row g-0">
                <h5 class="card-header">{{ button.title }}</h5>
                <div class="col-md-4">
                    <img src=" {{ button.image.url }} " class="img-fluid rounded-start" alt=" {{ button.image.url }} ">
                </div>
                <div class="col-md-8">

                    <div class="card-body">

                        <p class="card-text">{{ button.description }}</p>
                        <a href="{{ button.url }}" target="_blank" class="btn btn-primary stretched-link">Buy on Amazon</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-2"> </div>
        </div>

            {% endfor %}


        </div>
    </div>

{% endblock %}